@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* hero section starts here */

.hero-section-container{
    max-width: 1440px;
    min-height: 652px;
    background-image: url('./assets/hero-bg.png');
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 74px;
}

.hero-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-content img{
    margin-top: 20px;
    margin-bottom: 35px;
}

.hero-section-content h1{
    width: 998px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.hero-section-content p{
    width: 852px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.hero-section-content button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    cursor: pointer;
}

/* hero section ends here */

/* why web development starts here */

.why-web-development-container{
    max-width: 1140px;
    min-height: 1393px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px 80px 97px;
}

.why-web-development-container h1{
    color: rgb(13, 19, 33);
    width: 852px;
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 24px;
    
}

.why-web-development-container p{
    width: 852px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 0 auto;
    margin-bottom: 48px;
}

.coding-change-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    padding: 20px 48px;
}

.coding-change-content{
    width: 850px;
    height: 300px;
}

.coding-change-content h2{
    width: 390px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 18px;
    margin-top: 34px;
}

.coding-change-content p{
    width: 468px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-right: 112px;
    margin-bottom: 34px;
}

.coding-change-content button{
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
    cursor: pointer;
}

.coding-change-image img{
    width: 259.56px;
    height: 217.01px;
}

.Modern-web-center-container{
    width: 946px;
    height: 336px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
   
}

.Modern-web-center-image{
    width: 223.2px;
    height: 208.85px;
    
}

.Modern-web-center-image img{
    width: 100%;
    height: 100%;   
    
}

.modern-web-center-content{
    width: 477px;
    height: 219px;
    margin-left: 30px;
}

.modern-web-center-content h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.modern-web-center-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    width: 468px;
    margin-bottom: 20px;
}

.modern-web-center-content button{
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
    cursor: pointer;
}

.change-world-container{
    width: 946px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-world-content{
    width: 477px;
    height: 220px;
    margin-right: 135px;
}

.change-world-content h2{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.change-world-content p{
    color: rgb(13, 19, 33);
    width: 468px;
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 20px;
}

.change-world-content button{
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    background-color: white;
    cursor: pointer;
}

.change-world-image img{
    width: 206.4px;
    height: 187.32px;
}

/* web development is done here */

/* inspiration content starts here */

.inspiration-container{
    max-width: 1140px;
    min-height: 775px;
    margin: 0 auto;
    margin-top: 90px;
}

.inspiration-content{
    width: 852px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

}

.inspiration-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.inspiration-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 80px;
}

.inspiration-video{
    width: 1076px;
    height: 550px;
    margin: 0 auto;
    border-radius: 16px;

}

.inspiration-video iframe{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}
