@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Azeret Mono", monospace;
}

/* hero section starts here */

.hero-section-container{
    max-width: 1440px;
    min-height: 652px;
    background-image: url('./assets/hero-bg.png');
    margin: 0 auto;
    margin-top: 48px;
}

.hero-section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-section-content img{
    margin-top: 20px;
    margin-bottom: 35px;
}

.hero-section-content h1{
    width: 998px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
}

.hero-section-content p{
    width: 852px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 32px;
}

.hero-section-content button{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    cursor: pointer;
}

/* hero section ends here */



